*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
    font-size: 12;
}
body{
    background-color: #e3e6e6f6; 
    width: 100%;
    
}
                                        /*          header         */
header{

            display: flex;   
        flex-direction: column;   
     align-items: center;                       
}
.nav-bar{
    display: flex;
    justify-content: center; 
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    width: 100%;
     background-color: rgba(0, 0, 0, 0.897); 
     color: white; 
}
/* block nav 1 */
.nav-logo{
    height: 50px;
    width: 113px;

}

.logo{
background-image: url(img/amazon_logo.png);
background-size: cover;
 height: 50px; 
  width: 100%; 
}
.border:hover{
    border: 1px solid white;
}
/* nav block 2 */
.address{
   display: flex;
   flex-direction: column;
   font-size: 16px;
   height: 50px;
   line-height: 8px;
   padding-top: 4px;


}
.address-first{
    margin-bottom: 0.6px;
    text-align: center;
    font-size: 0.8rem;
    margin-left: 13px;
    margin-bottom: 4px;
padding-top: 8px;
    color: rgba(255, 255, 255, 0.63);
    
}
.address-two{
    display: flex;
    
   font-size: 1rem;
   font-weight:700;
    align-items: center;
}
.address-two-p{
     margin-left: 2px; 
}
                        /* box-3 search box  */
.search-box{
   display: flex; 
   width: 60%;

   background-color: white;
   height: 40px;
   border-radius: 6px;
 

}
.search-box:hover{
    border: 3px solid #febd68;
}
 #departid{ 
     width: 52px; 
     border: none;
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
     background-color: rgba(238, 230, 230, 0.623);
    
}
.search-input{
width: 100%;
height: 100%;
border: none;
}

.search-icon{
width: 50px;
border: none;
display: flex;
justify-content: center;
align-items: center;
border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
font-size: 1.2rem;
background-color: #febd68;

}
                            /* box--4 */
.lang{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

}
#sec2{
    background-color:transparent;
    color: white;

}
.ptag{
    font-size: 12px;
    font-weight:400;

}
.line2{
    font-size: 14px;
    font-weight: 700;
}
                              /* box--6 */
.nav-box6{
    display: flex;
    gap: 4px;
  
}
.second-header{
    
    height: 40px;
    background-color: #222f3d; 
    width: 100%;
    display: flex; 
    color: white;
    padding-left: 30px;
    align-items: center;
    gap: 20px;
    
  
}
a{
    text-decoration: none;
     color: white; 

}
.options{
    display: flex;
    gap: 20px; 

}

  
                                     /* page 1 */
.main-page1{
  height: 100vh;
  /* width: 100%; */
  display: flex;
      flex-direction: column;
      align-items: center;
  justify-content: end;
  /* margin: 0 50px; */
       /* align-items: center;  */
       


}

#img1{

    height: 650px;
    background-size: cover;
    position: absolute;
    /* margin-top: 50px; */
      /* margin: 0 35px;   */
      margin-left: 40px;
       width: 96%; 
}
.msg1{
    height: 40px;
    width: 92vw;
    /* margin-top: 50px; */
    background-color: rgba(255, 255, 255, 0.863);
     display: flex;
    justify-content: center;
     align-items: center;  
    z-index: 1;
}
.msg1 a{
    color: rgb(0, 113, 133);;
    margin-left: 10px;
    z-index: 1;
}
.msg1 a:hover{
    text-decoration: underline;
    color: rgb(212, 79, 79)
}
                                        /*                 boxes                  */
.box-1{
    display: flex;
    width: 92vw;
    justify-content: space-between;

}

.box{
    margin-top: 15px;
    height: 420px;
    width: 350px;
    background-color: white;
     padding: 15px 15px;
    
    z-index: 1;
 
}
.box-img{
    height: 320px;
    width: 320px;
   
}
.box-p{
padding-top: 10px;
    height: 20;
    color:#007185f1;
    font-size: 13px;
    font-weight: 700;
}
.box h2{
    height: 30px;
    font-weight: 700;
    
}

.page2{
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0 60px; */
    /* margin-left: 60px; */
    
}
.horizantal{ 
   width: 92vw;
   height: 300px;
   margin-top: 20px;
   /* margin-left: 10px; */
   background-color: white;
   padding: 20px;
  
}
ul{
   display: flex;
   margin-top: 10px;
   justify-content: space-between;
   
}
li {
    list-style-type: none;
    
}

.ft{
    height: 70vh;
    width: 100vw;
    margin-top: 20px;
 
    background-color: #232f3e;
}
.foot{

    width: 100vw;
    background-color:#232f3e ;
}
.backto{
    height: 50px;
    width: 100vw;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: #1a232e93 ;
}
.foot-links{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  
    justify-content: space-evenly;
    height: 400px;
}
.foot-list{
    display: flex;
    /* height: 150px; */
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.foot-logo{
     height: 80px; 
      width: 100%; 
     border-top: 1px solid white;
     display: flex;
     justify-content: center;
     align-items: center;
    }
    .logo{
        height: 50px;
        width: 100px;
    }